*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --adaptive: calc(1vh + 10px);
}


.navbar>ul{
    list-style: none;
    elevation: below;
    display: flex;
    flex: 1;
    gap: 20px;
}

.header__block{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    background-color: #eee;
    padding: 20px 0;
}


.open_menu_icon{
    display: none;
}

@media screen and (max-width: 900px){
    .navbar{
        display: none;
    }
    .open_menu_icon{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .open_menu_icon{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .open_menu_icon:hover > .bl-line{
        background-color: orange;
    }

    .hidden_menu_block{
        position: fixed;
        width: 100vh;
        height: 100vh;
    }

    .hidden_menu_block-n{
        display: none;
    }

    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.02);
    }

    .hidden_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 35%;
        height: 100vh;
        background-color: black;
    }

    .bl-line{
        background-color: orange!important;
    }

    .header__block{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .open_menu_icon>.bl-line{
        width: 20px;
        height: 3px;
        background-color: #292d33;
        transition: background-color .4s ease-in-out;
    }
}

body{
    background-color: #292d33;
}

.nav__link{
    color: black;
    text-decoration: none;
    transition: color .4s ease-in-out;
}

.nav__link-active{
    color: orange;
}
.nav__link:hover{
    color: orange;
}

.navbar>ul{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
